<ion-header>
  <ion-navbar>
    <ion-title>
      Location
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <ion-row>
    <ion-col>
      <button ion-button (click)="getLocation()">
        Me géolocaliser
      </button>
    </ion-col>
  </ion-row>

  <ion-card>
    <ion-card-content>
      <p *ngIf="coords">Position : {{ coords.latitude }}, {{ coords.longitude }}</p>
      <p *ngIf="accuracy">Précision : {{ accuracy }}</p>
      <p ion-text color="danger" *ngIf="error">{{ error }}</p>
    </ion-card-content>
  </ion-card>

</ion-content>
